/*Estilização Model Cabeçalho*/
.naveg ul{
    font-size: 15px;

    margin-right: 30px;
}

.naveg ul li{
    display: inline;
    margin-left: 14px;

}

.naveg a{
    color: #003366;
}

.container{
    margin: 0 auto;
    width: 940px;
}

.sacola{
    background: url("../Img/sacola.png") no-repeat top right;
    font-size: 14px;
    padding-right: 35px;
    padding-top: 8px;
    text-align: right;
    width: 140px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
}

.sacolaImg{
    text-align: right;
}

body{
    color: #333333;
    font-size: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.logotipo {
    psition: relative;
    top: 20px;
    left: 50px;
    margin-right: 10px;
}

.naveg {
    position: absolute;
    bottom: 0;
    right: 0px;
}

header{
    position: relative
}

/*Painel de ofertas*/
.painel li{
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
}

/*Barra lateral-Menu de departamentos*/
.menu-departamentos li{
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a {
    color: #333333;
    text-decoration: none;
}

.menu-departamentos{
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;
    clear: left;
    margin-top: 10px;
    padding-bottom: 10px;
}

.busca, .menu-departamentos{
    float: left;
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;

    margin-right: 10px;
    width: 230px;
}

.busca h2,.busca form,.menu-departamentos h2{
    margin: 10px;
}

.busca input {
    vert-align: middle;
}

.busca input[type=search] {
    width: 170px;
}

/*Estilização de destaque*/
.destaque{
    margin-top: 10px;
}

/*Estilização Model Rodapé*/
#rodape{
    background-image: url("../Img/sobre-background.jpg");
    padding: 20px 20px;
    margin-bottom: 2px;
}

/*CSS Containers*/
.container{
    margin: 0 auto;
    width: 940px;
}
